    .author-img2 {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 30px;}

.desc h3{
    font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
}

